.gist {
    color: #000;
}

.gist div {
    padding: 0;
    margin: 0;
}

.gist .gist-file {
    border: 1px solid #dedede; /* gray */
    font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin-bottom: 1em;
}

.gist .gist-file .gist-meta {
    overflow: hidden;
    font-size: 85%;
    padding: .5em 12px;
    color: #666;
    background-color: #f5f5f5;
    font-size: 12px;
}

.gist .gist-file .gist-meta a {
    color: #666;
}

.gist .gist-file .gist-meta a:visited {
    color: color-link;
}

.gist .gist-file .gist-data {
    overflow: auto;
    word-wrap: normal;
    background-color: #f8f8ff;
    border-bottom: 1px solid #ddd;
    font-size: 100%;
}

.gist .gist-file .gist-data pre {
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
    background: transparent !important;
    margin: 0 !important;
    border: none !important;
    padding: .25em .5em .5em .5em !important;
}

.gist .gist-file .gist-data .gist-highlight {
    background: transparent !important;
}

.gist .gist-file .gist-data .gist-line-numbers {
    background-color: #ececec;
    color: #aaa;
    border-right: 1px solid #ddd;
    text-align: right;
}

.gist .gist-file .gist-data .gist-line-numbers span {
    clear: right;
    display: block;
}
